<!--
  Generated template for the ConfigurateMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Configure your Meal!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 class="text">Hey!</h1>

  <h4 class="text">Tell me how your perfect menu should look like</h4>

  <img  src="{{currentImg}}">

<button ion-button full (click)="startListening()">Start Listening</button>
<button ion-button full (click)="stopListening()">Stop Listening</button>

<div *ngFor="let garnish of meal">
     <p>{{garnish}}</p>
</div>

 <button ion-button round outline class="speakerButton" (click)="startListening()">
   <div class="speakers"></div>
 </button>

<button ion-button block round outline class="showMeal">
  Show Meal
</button>

<button ion-button block round outline class="showMeal">
  Order
</button>




  <ion-card>
    <ion-card-header>This is what I understood...</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let match of matches">
          {{ match }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
